#acPane .button{
	-fx-text-fill: white;
	-fx-background-color: black;
	-fx-effect: null;
	-fx-border-radius: 0;
	-fx-border-width: 0 1 0 0; 
	-fx-border-color: transparent black transparent transparent;
}
#navPane{
	-fx-background-color: black;
}
#mainPane{
	-fx-text-fill: black;
	-fx-background-color: white;
}
#filterPane {
	-fx-background-color: pink;
}
#userName, #userName .label, #userName .context-menu{
	-fx-border: none;
	-fx-text-fill: white;
	-fx-background-color: black;
}
#userName .context-menu:hover .label{
	
	-fx-text-fill-highlighted: red;
	-fx-background-color: blue;
	-fx-font-weight:bold;
}
#izvestia{
	-fx-background-color: black;
	-fx-background-image: url("../img/izv.png");
	-fx-background-position:  center, center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 70% 90%;
}
#vij{
	-fx-background-color: red;
	-fx-graphic: url("../img/filter.png");
}