#izvestia{
	
 animation-name: izvestiaA;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes izvestiaA {
  0%   {background-image: url("../img/izv.png");}
  50%  {background-image: url("../img/izv1.png");}
  100% {background-image: url("../img/izv.png");}
}